.name_service{
    display: none;
    transition-duration: 500ms;
}
.container_service{
    transition: width 300ms ease-in-out;
}
.container_service:hover{
    width: 300px;
}
.container_service:hover > .name_service{
    display: flex;
}
/* Estilo específico para dispositivos móviles */
@media (max-width: 640px) { /* Pantallas pequeñas (ejemplo: móviles) */
    .container_service:hover {
        width: 150px; /* Limita el crecimiento a 150px en móviles */
    }
}